div {background-color: white;}

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    color: #40514E

}

hr {
    width: 4%;
    border-style: dotted none none;
    border-color: #EAF6F6;
    border-width: 6px;
    margin: 100px auto;
}

p {
    line-height: 2;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    line-height: 2;
}
.top-container { 
    position: relative;
    padding-top: 100px;
    background-color: #E1FFEE;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
    text-decoration: none;
}

a:hover {
color: white;
}

.middle-container {
background-color: white;
margin: 100px  0;
}
.bottom-container {
background-color: #66BFBF;
padding: 50px 0 20px;
}

.bottom {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top {
    position: absolute;
    right: 300px;
    top: 50px;
}

.footer-link {
    color: #11999E
}

.skill-row {
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.hacker {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.languages {
    width: 25%;
    float: right;
}

.skills-des {
    clear:left;
}

.skills-des2 {
    clear: right;
}

.intro {
    width: 30%;
    margin: auto;
}


.contact-message {
width: 40%;
margin: 40px auto 60px;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #1199);
    background-image: -moz-linear-gradient(top, #11CDD4, #1199);
    background-image: -ms-linear-gradient(top, #11CDD4, #1199);
    background-image: -o-linear-gradient(top, #11CDD4, #1199);
    background-image: linear-gradient(to bottom, #11CDD4, #1199);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
    text-decoration: none;
  }

  .copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
  }